<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand text-success"><h3>{{ title }}</h3></a>
    <form class="form-inline">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">Logout</button>
    </form>
  </nav>
  
<!--<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class = "heroes">
                <li><a routerLink = '/login'><span class = "badge">Login</span></a></li>
                <li><a routerLink = '/empprofile'><span class = "badge">Employee Profile</span></a></li>
                <li><a routerLink = '/apply-for-leave'><span class = "badge">Apply for leave</span></a></li>
                <li><a routerLink = '/leave-status'><span class = "badge">Leave Status</span></a></li>
                <li><a routerLink = '/payslips'><span class = "badge">Payslips</span></a></li>
                <li><a routerLink = '/admin-profile'><span class = "badge">Admin Profile</span></a></li>
                <li><a routerLink = '/create-account'><span class = "badge">Create Account</span></a></li>
                <li><a routerLink = '/approve-leaves'><span class = "badge">Approve Leaves</span></a></li>
                <li><a routerLink = '/pay-employee'><span class = "badge">Pay Employee</span></a></li>
                <li><a routerLink = '/edit-payment'><span class = "badge">Edit Payment</span></a></li>
                <li><a routerLink = '/logout'><span class = "badge">Logout</span></a></li>
                <li><a routerLink = '/forgot-password'><span class = "badge">Forgot Password</span></a></li>
            </ul>
        </div>
        <div class="col-md-9">
        -->        <router-outlet></router-outlet>
        <!--</div>
    </div>
</div>-->